## 4장 서울시 셀프 주유소 가격분석
### Selenium 사용법

In [15]:
from selenium import webdriver # 브라우저를 제어하는 모듈

In [2]:
driver = webdriver.Chrome('./driver/chromedriver.exe')

**이제부터 코드를 통해서 제어**

In [3]:
# driver를 통해서 제어
driver.get('https://nid.naver.com/nidlogin.login?mode=form&url=https%3A%2F%2Fwww.naver.com')

제어를 하는 경우, 반드시 selenium을 써야 함!

### 아이디 입력 요소 선택

In [4]:
elem_login_id = driver.find_element_by_id('id') # 아이디가 id
elem_login_id.send_keys('spexle') # 해당 아이디 입력

In [5]:
elem_login_id.clear() # 입력된 id 제거

In [6]:
# 비밀번호 입력
elem_login_pw = driver.find_element_by_id('pw') # pw 선택
elem_login_pw.send_keys('123456789')

In [7]:
elem_login_pw.clear() # 입력된 pw 제거

### 로그인 버튼 클릭

In [8]:
#  로그인 버튼의 XPath : //*[@id="log.login"]
xPath = '''//*[@id="log.login"]''' # 작은 따옴표 3개여야 영향 nope!

login_btn = driver.find_element_by_xpath(xPath) # 로그인 버튼 제어 생성
login_btn.click()

### 브라우저 닫기 ( => 메모리 삭제)

In [9]:
# 메모리에 정상적으로 닫기 위해선 하나하나 닫아야 함! 
driver.close()

### 😨selenium으로 열린 브라우저는 절대 건들지 마세요!

# 서울시 구별 주유소 가격 정보 얻기!

### 드라이버 메모리 로딩

In [54]:
driver = webdriver.Chrome('./driver/chromedriver.exe')

In [57]:
driver.get('https://www.opinet.co.kr/searRgSelect.do')

In [58]:
# 시군구(Xpath)  =>  //*[@id="SIGUNGU_NM0"]
xpath = '''//*[@id="SIGUNGU_NM0"]'''
gu_list_raw = driver.find_element_by_xpath(xpath)

#### select box를 빼서 데이터를 추출할 수 있는 방법!

#### Selenium 을 사용하면 데이터 접근을 조금더 깔끔하게 할 수 있음
- 그러나, 무거움

### find_element : 단일값
### find_elements : 여러개

In [59]:
# 옵션이라는 태그를 가져옴 
gu_list = gu_list_raw.find_elements_by_tag_name('option')

# 태그를 선택했을 때, 여러개면 리스트로 나옴
gu_list

[<selenium.webdriver.remote.webelement.WebElement (session="b7c64ed185dddc214e4cfb57e5386435", element="e1a8fb2e-869e-4247-8295-798a47bc29bc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b7c64ed185dddc214e4cfb57e5386435", element="1482b879-866c-4cf5-a40d-1fd0a8308b42")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b7c64ed185dddc214e4cfb57e5386435", element="8f1b6eb8-a174-40f1-8556-ba584b7b7295")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b7c64ed185dddc214e4cfb57e5386435", element="7aaf8c20-4b8b-4e97-81c1-d012cd5ca579")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b7c64ed185dddc214e4cfb57e5386435", element="65bd0be9-aa4d-4920-999f-3bf43a61f1d7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b7c64ed185dddc214e4cfb57e5386435", element="249087bc-fc83-4874-9870-782b12adaf4c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b7c64ed185dddc214e4cfb57e5386435", element="f099bcc2-aeb8-4c6a-a261-a3612371fa5b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b7c64ed185dddc214e4cfb57e5386435", element="f247566b-e509-4f6d-ae58-0b6322a40408")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b7c64ed185dddc214e4cfb57e5386435", element="b39364b6-5e42-4508-bef2-b93890e3058f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b7c64ed185dddc214e4cfb57e5386435", element="8ba9821c-a6a4-4c2b-8556-c395a58a9e14")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b7c64ed185dddc214e4cfb57e5386435", element="36d7ab39-176c-49a5-822e-f4573536e1f9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b7c64ed185dddc214e4cfb57e5386435", element="0dd1a970-d997-4577-9293-36b7f5d4d6b1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b7c64ed185dddc214e4cfb57e5386435", element="5497e4aa-0eac-40fd-ab09-5c2de3b7739e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b7c64ed185dddc214e4cfb57e5386435", element="c13a7c29-b442-4302-9e4c-a733c8977db3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b7c64ed185dddc214e4cfb57e5386435", element="7045d6cb-a07c-4d6c-a9fb-5ce5a39c570b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b7c64ed185dddc214e4cfb57e5386435", element="1ed549a1-c0e2-48a5-ba88-d27b08c2bc85")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b7c64ed185dddc214e4cfb57e5386435", element="5d2eb454-1bb2-426c-8cd3-0bc4620f6994")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b7c64ed185dddc214e4cfb57e5386435", element="ac7733b6-c29a-4e3c-ab40-e8a32a9dc668")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b7c64ed185dddc214e4cfb57e5386435", element="590e3da8-d493-437c-b50a-eae36dc76f1d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b7c64ed185dddc214e4cfb57e5386435", element="5fff735f-e2b5-4825-a405-8f4bb48e0b0b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b7c64ed185dddc214e4cfb57e5386435", element="6ece4cd0-3c82-4c92-a74e-91bb9a5f561b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b7c64ed185dddc214e4cfb57e5386435", element="96c0ffab-e6c5-4209-a88f-f07006aa8c04")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b7c64ed185dddc214e4cfb57e5386435", element="b5e7e0cf-5ca4-48d9-97b0-730f449aa387")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b7c64ed185dddc214e4cfb57e5386435", element="022b95b0-acb0-4809-9e4b-1ad8c9908d12")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b7c64ed185dddc214e4cfb57e5386435", element="0e0c05c8-f24a-4262-b393-437d2892f794")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b7c64ed185dddc214e4cfb57e5386435", element="c6f4a302-9b78-4d16-8886-54595222cc79")>]

** 컬럼을 넣을 때, 부서번호같은 일련번호로 하지 않고, 값으로 넣으면 나중에 문제가 생김!
- value가 서버에 들어가기 때문에 중요!

In [60]:
# option에서 value 추출 => [ ] (추출해서 리스트에 담는 것!)

# value가는 attribute의 값을 가져와라! 
gu_name = \
[option.get_attribute('value') for option in gu_list ]

gu_name

['',
 '강남구',
 '강동구',
 '강북구',
 '강서구',
 '관악구',
 '광진구',
 '구로구',
 '금천구',
 '노원구',
 '도봉구',
 '동대문구',
 '동작구',
 '마포구',
 '서대문구',
 '서초구',
 '성동구',
 '성북구',
 '송파구',
 '양천구',
 '영등포구',
 '용산구',
 '은평구',
 '종로구',
 '중구',
 '중랑구']

In [61]:
# 리스트 내의 공백 값 삭제
gu_name.remove('') # 파라미터 : 삭제할 값

In [38]:
gu_name

['강남구',
 '강동구',
 '강북구',
 '강서구',
 '관악구',
 '광진구',
 '구로구',
 '금천구',
 '노원구',
 '도봉구',
 '동대문구',
 '동작구',
 '마포구',
 '서대문구',
 '서초구',
 '성동구',
 '성북구',
 '송파구',
 '양천구',
 '영등포구',
 '용산구',
 '은평구',
 '종로구',
 '중구',
 '중랑구']

## 구별 엑셀파일 다운로드

### 강남구(gu_name[0] 엑셀파일 다운로드)

In [41]:
## for 문을 돌리기 전에 하나 연슴!  ##

# 구선택 SELECT ID : SIGUNGU_NM0
# 조회 xpath : //*[@id="searRgSelect"]/span
# 엑셀 다운로드 xpath: //*[@id="glopopd_excel"]/span

In [47]:
# 1. 구 선택
gu_select_elem = driver.find_element_by_id('SIGUNGU_NM0')

# 2. 구 값 전달 (어떤 값을 달라!) => 강남구[0]
gu_select_elem.send_keys(gu_name[0])

# () 시간 만큼 기다렸다가 시작해라 => timesleep보다 바람직!
driver.implicitly_wait(3)

# 3. 조회 버튼 선택, 클릭
xpath = '''//*[@id="searRgSelect"]/span'''
# 선택을 한 다음 -> 클릭
gu_select_search = driver.find_element_by_xpath(xpath)
gu_select_search.click() # 조회버튼 클릭

#### implicitly_wait() : 단계별로 기다렸다가 시작할 때 사용  (콜백함수)

In [46]:
# 4. 엑셀 버튼 선택, 클릭
xpath = '''//*[@id="glopopd_excel"]/span'''
gu_select_excel = driver.find_element_by_xpath(xpath)
gu_select_excel.click() # 조회버튼 클릭

# 5. 다운로드!

## 서울시 전체 구별 가격을 엑셀파일로 다운로드

In [66]:
from tqdm import tqdm
import time

for gu in tqdm(gu_name):
    driver.implicitly_wait(1)
    
    element = gu_select_elem = driver.find_element_by_id('SIGUNGU_NM0')
    element.send_keys(gu)
    
    time.sleep(1)
#     driver.implicitly_wait(5)
    
    # 3. 조회버튼 클릭
    xpath = '''//*[@id="searRgSelect"]/span'''
    # 선택을 한 다음 -> 클릭
    gu_select_search = driver.find_element_by_xpath(xpath)
    gu_select_search.click() # 조회버튼 클릭
    
    time.sleep(1)
#     driver.implicitly_wait(5)
    
    # 4. 엑셀 버튼 선택, 클릭
    xpath = '''//*[@id="glopopd_excel"]/span'''
    gu_select_excel = driver.find_element_by_xpath(xpath)
    gu_select_excel.click() # 조회버튼 클릭

100%|██████████████████████████████████████████████████████████████████████████████████| 25/25 [01:37<00:00,  3.89s/it]

1. time.sleep(sec)
2. driver.implicitly.wait(sec)
3. WebDriverWait(driver, sec).until()

동적인 컨텐츠는 selenium 을 사용해야 함 (그때, try

In [68]:
driver.close()

### 4.5 구별 가격 데이터 정리

In [67]:
import pandas as pd
from glob import glob

#### 현재 파일 25개 => 1개 읽어서 데이터 프레임으로 변환
- **25개 파일명이 들어있는 파일 목록 생성** 
- 파일 목록 생성 : **glob()**

In [89]:
glob('./data_01/지역*.xls') # 파일명이 지역으로 시작하고 .xls 인 파일

['./data_01\\지역_위치별(주유소) (1).xls',
 './data_01\\지역_위치별(주유소) (10).xls',
 './data_01\\지역_위치별(주유소) (11).xls',
 './data_01\\지역_위치별(주유소) (12).xls',
 './data_01\\지역_위치별(주유소) (13).xls',
 './data_01\\지역_위치별(주유소) (14).xls',
 './data_01\\지역_위치별(주유소) (15).xls',
 './data_01\\지역_위치별(주유소) (16).xls',
 './data_01\\지역_위치별(주유소) (17).xls',
 './data_01\\지역_위치별(주유소) (18).xls',
 './data_01\\지역_위치별(주유소) (19).xls',
 './data_01\\지역_위치별(주유소) (2).xls',
 './data_01\\지역_위치별(주유소) (20).xls',
 './data_01\\지역_위치별(주유소) (21).xls',
 './data_01\\지역_위치별(주유소) (22).xls',
 './data_01\\지역_위치별(주유소) (23).xls',
 './data_01\\지역_위치별(주유소) (24).xls',
 './data_01\\지역_위치별(주유소) (3).xls',
 './data_01\\지역_위치별(주유소) (4).xls',
 './data_01\\지역_위치별(주유소) (5).xls',
 './data_01\\지역_위치별(주유소) (6).xls',
 './data_01\\지역_위치별(주유소) (7).xls',
 './data_01\\지역_위치별(주유소) (8).xls',
 './data_01\\지역_위치별(주유소) (9).xls',
 './data_01\\지역_위치별(주유소).xls']

In [90]:
station_files = glob('./data_01/지역*.xls')
type(station_files)

list

In [91]:
# 25개 구를 반복해서 한개씩 읽어서 데이터 프레임으로 생성
# 생성된 데이터 프레임을 리스트에 저장

tmp_raw = []

for file_name in station_files:
    tmp = pd.read_excel(file_name, header=2) # 위에를 두개 지우고 가져와라
    # read_excel : 데이터 프레임이 나옴  
    tmp_raw.append(tmp) # 데이터 프레임을 리스트로 변환
    
tmp_raw

[       지역                    상호                         주소      상표  \
 0   서울특별시                구천면주유소      서울 강동구 구천면로 357 (암사동)  현대오일뱅크
 1   서울특별시        지에스칼텍스㈜ 동서울주유소     서울 강동구 천호대로 1456 (상일동)   GS칼텍스
 2   서울특별시         지에스칼텍스㈜ 신월주유소     서울 강동구 양재대로 1323 (성내동)   GS칼텍스
 3   서울특별시     현대오일뱅크㈜직영 명일셀프주유소       서울 강동구 고덕로 168 (명일동)  현대오일뱅크
 4   서울특별시     현대오일뱅크㈜직영 암사셀프주유소      서울 강동구 올림픽로 749 (암사동)  현대오일뱅크
 5   서울특별시       (주)퍼스트오일 코알라주유소  서울특별시 강동구  올림픽로 556 (성내동)   S-OIL
 6   서울특별시      주)지유에너지직영 오렌지주유소       서울 강동구 성안로 102 (성내동)   SK에너지
 7   서울특별시               방아다리주유소       서울 강동구 동남로 811 (명일동)   SK에너지
 8   서울특별시              sk해뜨는주유소      서울 강동구  상일로 132 (강일동)   SK에너지
 9   서울특별시       대성석유(주)직영 길동주유소           서울 강동구 천호대로 1168   GS칼텍스
 10  서울특별시        (주)삼표에너지 고덕주유소        서울 강동구 고덕로 39 (암사동)   GS칼텍스
 11  서울특별시               천호현대주유소        서울 강동구 천중로 67 (천호동)  현대오일뱅크
 12  서울특별시  (주)소모에너지엔테크놀러지 성내주유소      서울 강동구 올림픽로 578 (성내동)   GS칼텍스
 13  서울특별시                 광성주유소      서울 강동구 올림픽로 673 (천호동)   S-OIL
 14  서울특별시                 강동주유소      서울 강동구 양재대로 1509 (길동)   SK에너지

             전화번호 셀프여부 고급휘발유   휘발유    경유  실내등유
 0    02-441-0536    N     -  1583  1387     -
 1    02-426-5372    Y     -  1595  1395     -
 2    02-475-2600    N  1769  1609  1409  1000
 3   02-3428-1739    Y  1779  1615  1419     -
 4   02-3427-2043    Y  1779  1615  1419     -
 5    02-484-1162    Y     -  1618  1418     -
 6    02-484-6165    N     -  1624  1423  1100
 7    02-442-5145    Y     -  1628  1428  1000
 8    02-442-7801    Y     -  1629  1429  1100
 9    02-474-7222    N  1788  1638  1438  1200
 10   02-441-3327    N  1838  1638  1439  1263
 11   02-484-9323    N     -  1647  1458     -
 12   02-479-3838    Y     -  1668  1468     -
 13   02-470-5133    N     -  1708  1518     -
 14   02-477-5101    N  2338  2048  1827  1217  ,
        지역                상호                          주소      상표  \
 0   서울특별시             풍한주유소             서울 동대문구 안암로 168   SK에너지
 1   서울특별시             웰컴주유소             서울 동대문구 한천로 414  현대오일뱅크
 2   서울특별시          (주)경동주유소       서울 동대문구 이문로 191 (이문동)   S-OIL
 3   서울특별시             재정주유소       서울 동대문구 전농로 121 (전농동)  현대오일뱅크
 4   서울특별시           재정제2주유소       서울 동대문구 사가정로 90 (전농동)  현대오일뱅크
 5   서울특별시            답십리주유소     서울 동대문구 답십리로 223 (답십리동)   SK에너지
 6   서울특별시             열린주유소       서울 동대문구 한천로 263 (휘경동)   S-OIL
 7   서울특별시             삼영주유소      서울 동대문구 답십리로 258 (장안동)   SK에너지
 8   서울특별시          (주)파랑에너지             서울 동대문구 망우로 126   GS칼텍스
 9   서울특별시            배봉로주유소          서울 동대문구 서울시립대로 108  현대오일뱅크
 10  서울특별시      동일석유(주)강남주유소  서울특별시 동대문구  사가정로 103 (전농동)   SK에너지
 11  서울특별시  (주)안국에너지 삼원셀프주유소        서울 동대문구 망우로 90 (휘경동)   SK에너지
 12  서울특별시   삼미상사(주)장안킹셀프주유소      서울 동대문구  한천로 100 (장안동)   SK에너지
 13  서울특별시       대성산업㈜청량리주유소      서울 동대문구 왕산로 289 (청량리동)   GS칼텍스
 14  서울특별시             홍능주유소       서울 동대문구 홍릉로 87 (청량리동)   S-OIL
 15  서울특별시           오동나무주유소      서울 동대문구  한천로 81 (답십리동)   S-OIL
 16  서울특별시  현대오일뱅크㈜직영 스피드주유소      서울 동대문구 천호대로 453 (장안동)  현대오일뱅크
 17  서울특별시     대성산업(주)동마장주유소      서울 동대문구 고산자로 405 (용두동)   GS칼텍스
 18  서울특별시     재원에너지(주)용일주유소        서울 동대문구 안암로 54 (용두동)   GS칼텍스
 19  서울특별시        한영주유소 (한화)        서울 동대문구 망우로 38 (휘경동)  현대오일뱅크
 20  서울특별시             능주주유소      서울 동대문구 청계천로 431 (신설동)   SK에너지

              전화번호 셀프여부 고급휘발유   휘발유    경유  실내등유
 0     02-924-5189    N     -  1505  1305     -
 1     02-969-1144    N     -  1515  1305     -
 2     02-965-6006    Y     -  1517  1317  1000
 3   070-8256-4617    N     -  1519  1319  1200
 4    02-2249-6682    Y     -  1519  1319     -
 5    02-2213-9901    N     -  1529  1326     -
 6    02-2215-6543    N     -  1529  1329     -
 7    02-2217-2017    N     -  1537  1337  1200
 8    02-2242-5145    Y  1697  1539  1339   890
 9    02-2242-0556    Y     -  1545  1345  1050
 10   02-3394-5183    N     -  1549  1349  1200
 11   02-2244-1972    Y     -  1558  1358  1050
 12   02-2242-7115    Y     -  1564  1364     -
 13    02-966-9400    Y     -  1577  1377     -
 14    02-966-9190    N     -  1577  1377  1000
 15   02-2247-5132    N     -  1588  1388  1200
 16   02-2216-5151    N     -  1588  1388     -
 17    02-966-5451    N  1778  1588  1388     -
 18   02-3291-5151    N     -  1642  1443     -
 19   02-2214-9890    N     -  1650  1460     -
 20   02-2232-4245    N     -  1795  1585     -  ,
       지역                   상호                      주소      상표         전화번호  \
 0  서울특별시             창원이엔지주유소     서울 동작구 사당로 59 (상도동)  현대오일뱅크  02-825-5151
 1  서울특별시   현대오일뱅크㈜직영 신대방셀프주유소  서울 동작구 시흥대로 616 (신대방동)  현대오일뱅크  02-832-7926
 2  서울특별시      지에스칼텍스(주) 대방주유소        서울 동작구 여의대방로 214   GS칼텍스  02-826-5145
 3  서울특별시  현대오일뱅크(주)직영 사당셀프주유소    서울 동작구 동작대로 73 (사당동)  현대오일뱅크  02-521-3618
 4  서울특별시       대성산업(주) 노량진주유소         서울 동작구 노량진로 172   GS칼텍스  02-815-2354
 5  서울특별시   현대오일뱅크㈜직영 흑석동셀프주유소    서울 동작구 현충로 101 (흑석동)  현대오일뱅크  02-815-0724
 6  서울특별시                매일주유소    서울 동작구 상도로 139 (상도동)   S-OIL  02-817-4085
 7  서울특별시       (주)성림에너지 남성주유소   서울 동작구 동작대로 135 (사당동)   GS칼텍스  02-532-0606
 8  서울특별시    현대오일뱅크(주)직영 동작주유소    서울 동작구 상도로 403 (상도동)  현대오일뱅크  02-817-9179
 9  서울특별시               살피재주유소          서울 동작구 상도로 334   SK에너지  02-817-2559

   셀프여부 고급휘발유   휘발유    경유  실내등유
 0    N     -  1559  1359     -
 1    Y  1749  1559  1359     -
 2    N  1719  1569  1369  1050
 3    Y  1749  1579  1374     -
 4    N     -  1598  1398  1050
 5    Y  1779  1599  1399  1000
 6    N     -  1599  1419  1200
 7    Y     -  1599  1399     -
 8    N  1779  1609  1419     -
 9    N     -  1665  1465     -  ,
        지역                 상호                        주소      상표           전화번호  \
 0   서울특별시          성산대교셀프주유소            서울 마포구 성산로 144  현대오일뱅크    02-323-0078
 1   서울특별시              성산주유소  서울 마포구 월드컵북로 170 (성산제2동)   SK에너지    02-373-3314
 2   서울특별시     에스오일(주) 염리동주유소      서울 마포구 백범로 126 (염리동)   S-OIL   02-3272-5155
 3   서울특별시            마포시엠주유소      서울 마포구 월드컵북로62 (성산동)   GS칼텍스    02-336-1687
 4   서울특별시              청원주유소    서울 마포구 월드컵북로 113 (성산동)  현대오일뱅크    02-325-5533
 5   서울특별시    (주)안국에너지 망원동주유소     서울 마포구 월드컵로 119 (망원동)   SK에너지    02-334-0917
 6   서울특별시              용강주유소            서울 마포구 토정로 258   S-OIL  070-7795-4800
 7   서울특별시              대흥주유소       서울 마포구 대흥로 61 (대흥동)   SK에너지   02-3273-5151
 8   서울특별시  현대오일뱅크㈜직영 마포제일주유소       서울 마포구 서강로 76 (창전동)  현대오일뱅크    02-336-5185
 9   서울특별시     SK에너지(주) 안국주유소       서울 마포구 양화로 33 (합정동)   SK에너지   02-3144-1197
 10  서울특별시        SK에너지 양지주유소      서울 마포구 마포대로 69 (도화동)   SK에너지    02-706-8955
 11  서울특별시              마포주유소     서울 마포구 마포대로 186 (공덕동)   S-OIL    02-701-3990
 12  서울특별시              서강주유소      서울 마포구 독막로 134 (창전동)   SK에너지    02-338-2886

    셀프여부 고급휘발유   휘발유    경유  실내등유
 0     Y     -  1528  1328  1198
 1     N     -  1547  1347     -
 2     Y     -  1548  1348     -
 3     N     -  1557  1347     -
 4     N  1838  1578  1378     -
 5     N     -  1588  1388     -
 6     N     -  1616  1416     -
 7     N  2070  1628  1428  1360
 8     N  1838  1638  1438  1198
 9     N  1813  1713  1513     -
 10    N  1929  1809  1609     -
 11    N     -  1847  1648  1257
 12    N     -     -     -     -  ,
        지역                  상호                            주소      상표  \
 0   서울특별시             행촌제2주유소         서울 서대문구 성산로 490 (대신동)   SK에너지
 1   서울특별시  세일석유(주) 구도일주유소 두꺼비               서울 서대문구 성산로 312   S-OIL
 2   서울특별시     (주)미래아스팔트 신우주유소         서울 서대문구 가좌로 106 (홍은동)   S-OIL
 3   서울특별시             문화사랑주유소         서울 서대문구 세검정로 87 (홍제동)   S-OIL
 4   서울특별시       (주)창원이엔지 홍제지점         서울 서대문구 통일로 455 (홍제동)  현대오일뱅크
 5   서울특별시        (주)가재울뉴타운주유소              서울 서대문구 모래내로 205  현대오일뱅크
 6   서울특별시   현대오일뱅크(주)직영 연세주유소               서울 서대문구 연희로 184  현대오일뱅크
 7   서울특별시               남정주유소       서울 서대문구 모래내로 243 (남가좌동)   GS칼텍스
 8   서울특별시     지에스칼텍스(주)홍제동주유소               서울 서대문구 통일로 372   GS칼텍스
 9   서울특별시               연희주유소  서울 서대문구 연희로 129 (연희동 89-7번지)   SK에너지
 10  서울특별시         중앙에너비스 동교지점          서울 서대문구 연희로 12 (창천동)   SK에너지
 11  서울특별시    (주)안국에너지 삼보셀프주유소          서울 서대문구 연희로 78 (연희동)   SK에너지
 12  서울특별시        삼미상사(주)서부주유소               서울 서대문구 성산로 255   SK에너지
 13  서울특별시    현대오일뱅크㈜직영 독립문주유소         서울 서대문구 통일로 384 (홍제동)  현대오일뱅크
 14  서울특별시               광호주유소         서울 서대문구 연희로 266 (홍은동)   SK에너지

              전화번호 셀프여부 고급휘발유   휘발유    경유  실내등유
 0     02-365-5189    N  1794  1514  1314     -
 1     02-336-0611    Y     -  1514  1314  1100
 2     02-304-5522    Y     -  1514  1317     -
 3     02-395-4300    N     -  1519  1319  1100
 4     02-379-0753    N     -  1519  1319  1200
 5   070-8879-7864    Y     -  1530  1330     -
 6     02-337-8220    Y  1725  1534  1334     -
 7     02-305-9828    N     -  1535  1335  1200
 8     02-736-3708    Y  1715  1535  1335  1265
 9     02-338-8045    N  1819  1545  1345     -
 10  070-8707-4568    Y  1798  1548  1348     -
 11    02-336-6151    Y     -  1548  1348     -
 12    02-334-4919    Y     -  1554  1354     -
 13    02-735-0333    N  1738  1558  1358     -
 14    02-395-7236    N     -  1558  1358     -  ,
        지역                    상호                          주소      상표  \
 0   서울특별시              만남의광장주유소        서울 서초구 양재대로12길 73-71  알뜰(ex)
 1   서울특별시               강남대로주유소       서울 서초구 강남대로 206 (양재동)   S-OIL
 2   서울특별시        (주)대농석유 남태령주유소       서울 서초구 과천대로 838 (방배동)   SK에너지
 3   서울특별시                 한독주유소        서울 서초구 방배로 218 (방배동)   GS칼텍스
 4   서울특별시    현대오일뱅크(주)직영 팔레스주유소       서울 서초구 사평대로 136 (반포동)  현대오일뱅크
 5   서울특별시        지에스칼텍스(주)선천주유소       서울 서초구 동작대로 206 (방배동)   GS칼텍스
 6   서울특별시     에쓰오일(주)직영 오토테크주유소    서울특별시 서초구  효령로 356 (서초동)   S-OIL
 7   서울특별시         (주)한미건설 서울주유소       서울 서초구 서초중앙로 91 (서초동)   GS칼텍스
 8   서울특별시                 양재주유소             서울 서초구 바우뫼로 178   SK에너지
 9   서울특별시               태봉셀프주유소        서울 서초구 태봉로 117 (우면동)   SK에너지
 10  서울특별시         (주)한미석유 서초주유소        서울 서초구 반포대로 64 (서초동)   GS칼텍스
 11  서울특별시               말죽거리주유소     서울 서초구 남부순환로 2650 (양재동)   GS칼텍스
 12  서울특별시        에너지플러스허브 삼방주유소       서울 서초구 사평대로 364 (서초동)   GS칼텍스
 13  서울특별시     현대오일뱅크㈜직영 양재현대주유소                서울 서초구 마방로 6  현대오일뱅크
 14  서울특별시     현대오일뱅크㈜직영 반포셀프주유소              서울 서초구 사평대로 12  현대오일뱅크
 15  서울특별시   현대오일뱅크(주)직영 서초제일주유소       서울 서초구 사임당로 116 (서초동)  현대오일뱅크
 16  서울특별시   현대오일뱅크(주)직영 방배현대주유소       서울 서초구 동작대로 182 (방배동)  현대오일뱅크
 17  서울특별시              서초꽃마을주유소        서울 서초구 반포대로 69 (서초동)   GS칼텍스
 18  서울특별시       지에스칼텍스(주)헌릉로주유소        서울 서초구 헌릉로 177 (내곡동)   GS칼텍스
 19  서울특별시        지에스칼텍스(주)내곡주유소              서울 서초구 헌릉로 210   GS칼텍스
 20  서울특별시                신반포주유소        서울 서초구 사평대로 94 (반포동)   SK에너지
 21  서울특별시       지에스칼텍스(주)남서울주유소        서울 서초구 나루터로 83 (잠원동)   GS칼텍스
 22  서울특별시          대성석유(주)연일주유소           서울 서초구 남부순환로 2451   GS칼텍스
 23  서울특별시                방배동주유소         서울 서초구 효령로 29 (방배동)   SK에너지
 24  서울특별시              (주)홈런주유소  서울 서초구 양재대로2길 100-30 (우면동)   S-OIL
 25  서울특별시          대신석유(주)대우주유소       서울 서초구 양재대로 173 (양재동)   SK에너지
 26  서울특별시        대성산업(주)직영강남주유소       서울 서초구 반포대로 284 (반포동)   GS칼텍스
 27  서울특별시               반포그린주유소      서울 서초구 서초중앙로 239 (반포동)   GS칼텍스
 28  서울특별시  대성산업(주)직영 터미널(고속)주유소       서울 서초구 신반포로 222 (반포동)   GS칼텍스
 29  서울특별시                크로바주유소        서울 서초구 효령로 327 (서초동)   SK에너지
 30  서울특별시               양재최고주유소         서울 서초구 매헌로 72 (양재동)   S-OIL
 31  서울특별시      현대오일뱅크㈜직영 사평로주유소       서울 서초구 사평대로 350 (서초동)  현대오일뱅크
 32  서울특별시            대신석유㈜서원주유소       서울 서초구 반포대로 142 (서초동)   SK에너지
 33  서울특별시        (주)선문에너지 중앙주유소  서울특별시 서초구  바우뫼로 219 (양재1동)   S-OIL
 34  서울특별시               선우상사Q엔느         서울 서초구 방배로 66 (방배동)   SK에너지
 35  서울특별시                전당앞주유소     서울 서초구 남부순환로 2391 (서초동)   SK에너지

             전화번호 셀프여부 고급휘발유   휘발유    경유  실내등유
 0    02-573-7430    Y     -  1519  1229     -
 1    02-579-7547    Y     -  1553  1365     -
 2    02-587-0895    Y     -  1557  1357     -
 3   02-3477-6127    N  1719  1569  1369     -
 4    02-720-0020    N  1719  1569  1369     -
 5    02-592-4915    N  1704  1574  1374     -
 6    02-585-5189    Y  1724  1574  1374     -
 7    02-597-5152    N     -  1575  1375     -
 8    02-577-1621    N  1736  1575  1375     -
 9    02-571-8000    Y     -  1575  1375     -
 10   02-582-5198    N  1775  1575  1375     -
 11   02-579-9933    N     -  1576  1376  1256
 12   02-536-5145    Y  1748  1578  1378     -
 13   02-579-8429    N  1736  1578  1379  1070
 14   02-599-5189    Y  1729  1579  1374     -
 15   02-587-6080    N  1739  1579  1379     -
 16   02-534-0051    N  1729  1584  1379  1100
 17   02-523-5551    N  1785  1585  1385     -
 18   02-574-0828    Y  1725  1585  1395  1250
 19   02-573-7878    N  1725  1585  1395  1250
 20   02-533-5151    N  1728  1588  1388  1100
 21   02-542-1517    N  1745  1595  1395  1300
 22  02-3471-5151    N  1798  1595  1398  1200
 23   02-584-2086    N     -  1597  1395     -
 24   02-577-5151    Y     -  1598  1398     -
 25   02-572-0567    Y     -  1599  1397     -
 26   02-594-5987    N  1747  1628  1428     -
 27   02-532-5147    N  1747  1628  1428     -
 28   02-535-3001    N  1747  1628  1428  1050
 29   02-586-8100    N  1879  1648  1508     -
 30  02-2057-5189    N     -  1695  1495     -
 31  02-3481-2513    N  1939  1792  1597     -
 32   02-599-3657    N  1998  1928  1728     -
 33   02-575-5110    N  2148  1947  1697  1250
 34   02-581-5101    N  2318  2057  1858     -
 35   02-597-2381    N     -     -     -     -  ,
        지역                 상호                       주소      상표          전화번호  \
 0   서울특별시        (주)서울에너지 직영    서울 성동구 천호대로 324 (용답동)   S-OIL  02-3390-4338
 1   서울특별시           KLP제2주유소     서울 성동구 동일로 249 (송정동)  현대오일뱅크   02-465-5182
 2   서울특별시     지에스칼텍스㈜ 도루코주유소          서울 성동구 아차산로 180   GS칼텍스   02-463-6919
 3   서울특별시              정호주유소    서울 성동구 고산자로 307 (마장동)    자가상표  02-2297-9442
 4   서울특별시  현대오일뱅크(주) 성동셀프주유소     서울 성동구 마장로 311 (마장동)  현대오일뱅크  02-2299-7333
 5   서울특별시              삼우주유소          서울 성동구 천호대로 392   SK에너지  02-2245-8974
 6   서울특별시             아이콘주유소    서울 성동구 고산자로 273 (도선동)   S-OIL  02-2291-5189
 7   서울특별시              경진주유소    서울 성동구 고산자로 348 (마장동)   SK에너지  02-2295-3331
 8   서울특별시    SK에너지(주) 군자동주유소    서울 성동구 천호대로 446 (용답동)   SK에너지  02-2244-4945
 9   서울특별시    현대오일뱅크㈜직영 효진주유소           서울 성동구 동일로 129  현대오일뱅크   02-464-7252
 10  서울특별시    kh에너지(주)성수만세주유소          서울 성동구 왕십리로 109   SK에너지   02-499-8223
 11  서울특별시     SK에너지(주) 성수주유소   서울 성동구 뚝섬로 352 (성수동1가)   SK에너지   02-467-7240
 12  서울특별시           SK세원2주유소  서울 성동구 광나루로 184 (성수동1가)   SK에너지   02-462-5665
 13  서울특별시              금호주유소    서울 성동구 금호로 39 (금호동4가)   GS칼텍스  02-2297-0066
 14  서울특별시      (주)옥수하이웨이스테이션    서울 성동구 독서당로 168 (옥수동)   GS칼텍스  02-2282-5151
 15  서울특별시              동일주유소  서울 성동구 광나루로 254 (성수동2가)  현대오일뱅크   02-461-7100
 16  서울특별시             청계로주유소  서울 성동구 청계천로 454 (하왕십리동)   SK에너지  02-2294-4225

    셀프여부 고급휘발유   휘발유    경유  실내등유
 0     Y     -  1512  1312     -
 1     Y     -  1516  1316     -
 2     Y  1736  1546  1346  1030
 3     N     -  1548  1348     -
 4     Y  1758  1558  1358     -
 5     N     -  1578  1378     -
 6     N     -  1588  1388  1100
 7     N     -  1598  1398  1250
 8     N  1719  1599  1399     -
 9     N  1738  1608  1408  1028
 10    Y  1835  1626  1426     -
 11    N  1757  1634  1434     -
 12    N  1898  1670  1475     -
 13    N     -  1778  1586  1320
 14    N  2095  1845  1645     -
 15    N  2073  1847  1647  1198
 16    N     -  1848  1647  1245  ,
        지역                 상호                         주소      상표  \
 0   서울특별시              원천주유소      서울 성북구 돌곶이로 142 (장위동)   알뜰주유소
 1   서울특별시            강산제2주유소             서울 성북구 보국문로 52  현대오일뱅크
 2   서울특별시     (주)삼표에너지 정릉주유소       서울 성북구 보국문로 35 (정릉동)   GS칼텍스
 3   서울특별시      이케이에너지㈜ 강산주유소      서울 성북구 보문로 27 (보문동7가)   GS칼텍스
 4   서울특별시        중앙에너비스 종암지점              서울 성북구 종암로 58   SK에너지
 5   서울특별시           (주)성북주유소             서울 성북구 보문로 142  현대오일뱅크
 6   서울특별시       ㈜명연에너지 효성주유소              서울 성북구 화랑로 27   GS칼텍스
 7   서울특별시    (주)신용 구도일주유소화랑로             서울 성북구 화랑로 174   S-OIL
 8   서울특별시    현대오일뱅크㈜직영 장삼주유소       서울 성북구 한천로 612 (장위동)  현대오일뱅크
 9   서울특별시              우리주유소             서울 성북구 화랑로 292   SK에너지
 10  서울특별시             신동방주유소        서울 성북구 월계로 84 (장위동)   S-OIL
 11  서울특별시     GS칼텍스(주) 종암주유소       서울 성북구 종암로 145 (종암동)   GS칼텍스
 12  서울특별시  현대오일뱅크㈜직영 고대셀프주유소        서울 성북구 종암로 12 (종암동)  현대오일뱅크
 13  서울특별시              장위주유소      서울 성북구 화랑로 110 (하월곡동)   S-OIL
 14  서울특별시       재정제2주유소 길음지점        서울 성북구 삼양로 78 (길음동)  현대오일뱅크
 15  서울특별시  현대오일뱅크㈜직영 광덕셀프주유소      서울 성북구 보문로 89 (보문동5가)  현대오일뱅크
 16  서울특별시  현대오일뱅크㈜직영 북악셀프주유소       서울 성북구 정릉로 218 (정릉동)  현대오일뱅크
 17  서울특별시   SK에너지(주) 드림랜드주유소       서울 성북구 월계로 128 (장위동)   SK에너지
 18  서울특별시              삼선주유소            서울 성북구 창경궁로 324   S-OIL
 19  서울특별시      지에스칼텍스㈜ 화랑주유소             서울 성북구 화랑로 185   GS칼텍스
 20  서울특별시              신방주유소     서울 성북구 안암로 111 (안암동5가)   S-OIL
 21  서울특별시   현대오일뱅크㈜직영 아리랑주유소       서울 성북구 아리랑로 96 (정릉동)  현대오일뱅크
 22  서울특별시      지에스칼텍스㈜ 세창주유소            서울 성북구 동소문로 323   GS칼텍스
 23  서울특별시              동일주유소  서울특별시 성북구  보문로 85 (보문동5가)   GS칼텍스

              전화번호 셀프여부 고급휘발유   휘발유    경유  실내등유
 0   070-4063-1057    N     -  1489  1289     -
 1     02-942-1448    Y  1638  1498  1298     -
 2     02-914-6556    Y  1638  1498  1298   950
 3     02-953-1448    Y     -  1499  1299  1000
 4   070-8707-4565    Y     -  1508  1318     -
 5     02-928-4900    Y     -  1509  1309     -
 6     02-942-5150    N  1899  1515  1399  1149
 7     02-963-0051    Y     -  1517  1317     -
 8     02-909-0314    Y  1758  1517  1317   999
 9     02-969-5185    Y     -  1517  1317     -
 10    02-918-5151    N     -  1517  1317     -
 11    02-921-7785    Y  1688  1518  1318     -
 12    02-912-5151    Y  1748  1518  1318     -
 13   02-6498-5189    Y     -  1518  1317     -
 14    02-980-1311    N     -  1519  1319  1200
 15    02-923-5545    Y  1747  1527  1327     -
 16    02-911-5189    Y  1748  1528  1328     -
 17    02-916-9906    N     -  1529  1329     -
 18    02-766-5105    Y  1895  1537  1327     -
 19    02-942-5152    N     -  1539  1339  1190
 20    02-922-5151    N     -  1542  1343     -
 21    02-941-5189    N  1769  1578  1378  1025
 22    02-988-2491    Y  1802  1599  1399  1260
 23    02-923-8484    N     -  1599  1395  1319  ,
        지역                  상호                        주소      상표          전화번호  \
 0   서울특별시   지에스이앤알 직영 송파제일주유소      서울 송파구 삼학사로 50 (석촌동)  현대오일뱅크   02-424-2900
 1   서울특별시               삼화주유소          서울 송파구 백제고분로 125   GS칼텍스  02-2203-2280
 2   서울특별시             위례제일주유소           서울 송파구 위례서로 260   S-OIL   02-408-9951
 3   서울특별시              아시아주유소      서울 송파구 도곡로 438 (잠실동)   GS칼텍스   02-416-1911
 4   서울특별시               상아주유소             서울 송파구 거마로 82  현대오일뱅크   02-409-8251
 5   서울특별시             삼전셀프주유소          서울 송파구 백제고분로 199   SK에너지   02-420-5101
 6   서울특별시               방이주유소  서울 송파구 위례성대로12길 38 (방이동)   SK에너지   02-424-3051
 7   서울특별시   현대오일뱅크㈜직영 잠실셀프주유소     서울 송파구 송파대로 397 (석촌동)  현대오일뱅크   02-417-7111
 8   서울특별시   지에스칼텍스(주)가든파이브주유소           서울 송파구 탄천동로 740   GS칼텍스   02-409-5145
 9   서울특별시   지에스칼텍스(주)스마트위례주유소     서울 송파구 위례중앙로 43 (장지동)   GS칼텍스   02-409-5185
 10  서울특별시               완불주유소       서울 송파구 송파대로 3 (장지동)   SK에너지  02-3402-2900
 11  서울특별시              남성대주유소      서울 송파구 송파대로 52 (장지동)   SK에너지   02-409-2211
 12  서울특별시     (주)삼표에너지 훼미리주유소       서울 송파구 중대로 58 (문정동)   GS칼텍스   02-448-9252
 13  서울특별시      지에스칼텍스(주)우리주유소            서울 송파구 동남로 153   GS칼텍스  02-3401-1588
 14  서울특별시            백제고분로주유소      서울 송파구 오금로 143 (방이동)   SK에너지  02-2202-4050
 15  서울특별시            (주)잠실에너지     서울 송파구 송파대로 442 (송파동)   S-OIL   02-414-5010
 16  서울특별시           제트라인DM주유소      서울 송파구 중대로 183 (가락동)  현대오일뱅크   02-430-5151
 17  서울특별시      (주)뉴명성산업 남성주유소    서울 송파구 백제고분로 474 (방이동)  현대오일뱅크   02-423-5128
 18  서울특별시               대성주유소      서울 송파구 마천로 230 (마천동)   SK에너지   02-431-1991
 19  서울특별시  현대오일뱅크㈜직영 올림픽셀프주유소    서울 송파구 위례성대로 188 (오금동)  현대오일뱅크   02-448-9804
 20  서울특별시            (주)유진주유소      서울 송파구 동남로 325 (오금동)   SK에너지   02-406-3956
 21  서울특별시           (주)정직한주유소      서울 송파구 오금로 455 (거여동)  현대오일뱅크   02-406-4634

In [92]:
len(tmp_raw)

25

In [93]:
station_raw = pd.concat(tmp_raw)
station_raw.head()

,지역,상호,주소,상표,전화번호,셀프여부,고급휘발유,휘발유,경유,실내등유
0,서울특별시,구천면주유소,서울 강동구 구천면로 357 (암사동),현대오일뱅크,02-441-0536,N,-,1583,1387,-
1,서울특별시,지에스칼텍스㈜ 동서울주유소,서울 강동구 천호대로 1456 (상일동),GS칼텍스,02-426-5372,Y,-,1595,1395,-
2,서울특별시,지에스칼텍스㈜ 신월주유소,서울 강동구 양재대로 1323 (성내동),GS칼텍스,02-475-2600,N,1769,1609,1409,1000
3,서울특별시,현대오일뱅크㈜직영 명일셀프주유소,서울 강동구 고덕로 168 (명일동),현대오일뱅크,02-3428-1739,Y,1779,1615,1419,-
4,서울특별시,현대오일뱅크㈜직영 암사셀프주유소,서울 강동구 올림픽로 749 (암사동),현대오일뱅크,02-3427-2043,Y,1779,1615,1419,-

In [94]:
station_raw.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 491 entries, 0 to 39
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   지역      491 non-null    object
 1   상호      491 non-null    object
 2   주소      491 non-null    object
 3   상표      491 non-null    object
 4   전화번호    491 non-null    object
 5   셀프여부    491 non-null    object
 6   고급휘발유   491 non-null    object
 7   휘발유     491 non-null    object
 8   경유      491 non-null    object
 9   실내등유    491 non-null    object
dtypes: object(10)
memory usage: 42.2+ KB

In [97]:
# 상호, 주소, 셀프여부, 상표, 휘발유
stations = pd.DataFrame(
    {
          '상호':station_raw['상호']
        , '주소':station_raw['주소']
        , '가격':station_raw['휘발유']
        , '셀프여부':station_raw['셀프여부']
        , '상표':station_raw['상표']
    }
)
stations.head()

                  상호                      주소    가격 셀프여부      상표
0             구천면주유소   서울 강동구 구천면로 357 (암사동)  1583    N  현대오일뱅크
1     지에스칼텍스㈜ 동서울주유소  서울 강동구 천호대로 1456 (상일동)  1595    Y   GS칼텍스
2      지에스칼텍스㈜ 신월주유소  서울 강동구 양재대로 1323 (성내동)  1609    N   GS칼텍스
3  현대오일뱅크㈜직영 명일셀프주유소    서울 강동구 고덕로 168 (명일동)  1615    Y  현대오일뱅크
4  현대오일뱅크㈜직영 암사셀프주유소   서울 강동구 올림픽로 749 (암사동)  1615    Y  현대오일뱅크

In [98]:
# 구 컬럼 생성 : 주소에서 구 추출 => 리스트로 만듦
stations['구'] = [ addr.split()[1] for addr in stations['주소']]
stations['구']

0     강동구
1     강동구
2     강동구
3     강동구
4     강동구
     ...
35    강남구
36    강남구
37    강남구
38    강남구
39    강남구
Name: 구, Length: 491, dtype: object

In [99]:
stations['구'].unique()

array(['강동구', '동대문구', '동작구', '마포구', '서대문구', '서초구', '성동구', '성북구', '송파구',
       '양천구', '영등포구', '강북구', '용산구', '은평구', '종로구', '중구', '중랑구', '강서구',
       '관악구', '광진구', '구로구', '금천구', '노원구', '도봉구', '강남구'], dtype=object)

In [100]:
stations.head()

                  상호                      주소    가격 셀프여부      상표    구
0             구천면주유소   서울 강동구 구천면로 357 (암사동)  1583    N  현대오일뱅크  강동구
1     지에스칼텍스㈜ 동서울주유소  서울 강동구 천호대로 1456 (상일동)  1595    Y   GS칼텍스  강동구
2      지에스칼텍스㈜ 신월주유소  서울 강동구 양재대로 1323 (성내동)  1609    N   GS칼텍스  강동구
3  현대오일뱅크㈜직영 명일셀프주유소    서울 강동구 고덕로 168 (명일동)  1615    Y  현대오일뱅크  강동구
4  현대오일뱅크㈜직영 암사셀프주유소   서울 강동구 올림픽로 749 (암사동)  1615    Y  현대오일뱅크  강동구

In [101]:
stations = stations[stations['가격'] != '-']

In [102]:
stations.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 482 entries, 0 to 36
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   상호      482 non-null    object
 1   주소      482 non-null    object
 2   가격      482 non-null    object
 3   셀프여부    482 non-null    object
 4   상표      482 non-null    object
 5   구       482 non-null    object
dtypes: object(6)
memory usage: 26.4+ KB

### 가격을 숫자로 바꾸어야 함! float로 형변환!

In [106]:
stations['가격'] = [float(value) for value in stations['가격']]

In [107]:
stations.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 482 entries, 0 to 36
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   상호      482 non-null    object
 1   주소      482 non-null    object
 2   가격      482 non-null    float64
 3   셀프여부    482 non-null    object
 4   상표      482 non-null    object
 5   구       482 non-null    object
dtypes: float64(1), object(5)
memory usage: 26.4+ KB

In [108]:
stations

                   상호                        주소      가격 셀프여부      상표    구
0              구천면주유소     서울 강동구 구천면로 357 (암사동)  1583.0    N  현대오일뱅크  강동구
1      지에스칼텍스㈜ 동서울주유소    서울 강동구 천호대로 1456 (상일동)  1595.0    Y   GS칼텍스  강동구
2       지에스칼텍스㈜ 신월주유소    서울 강동구 양재대로 1323 (성내동)  1609.0    N   GS칼텍스  강동구
3   현대오일뱅크㈜직영 명일셀프주유소      서울 강동구 고덕로 168 (명일동)  1615.0    Y  현대오일뱅크  강동구
4   현대오일뱅크㈜직영 암사셀프주유소     서울 강동구 올림픽로 749 (암사동)  1615.0    Y  현대오일뱅크  강동구
..                ...                       ...     ...  ...     ...  ...
32            갤러리아주유소           서울 강남구 압구정로 426  2015.0    N   SK에너지  강남구
33              경원주유소     서울 강남구 도산대로 428 (청담동)  2016.0    N   S-OIL  강남구
34           (주)만정에너지     서울 강남구 봉은사로 433 (삼성동)  2023.0    N   GS칼텍스  강남구
35             학여울주유소  서울 강남구 남부순환로 3170 (일원2동)  2029.0    N   GS칼텍스  강남구
36            뉴서울(강남)            서울 강남구 언주로 716  2125.0    N   SK에너지  강남구

[482 rows x 6 columns]

In [109]:
aaa = {'a' : [1,2,3,4]}
bbb = {'b' : [1,2,3,4]}

In [110]:
aaa_df = pd.DataFrame(aaa)
bbb_df = pd.DataFrame(bbb)

In [111]:
aaa_df

   a
0  1
1  2
2  3
3  4

In [112]:
bbb_df

   b
0  1
1  2
2  3
3  4

In [116]:
ccc_list = [aaa_df, bbb_df]
ddd_df = pd.concat(ccc_list)
ddd_df

     a    b
0  1.0  NaN
1  2.0  NaN
2  3.0  NaN
3  4.0  NaN
0  NaN  1.0
1  NaN  2.0
2  NaN  3.0
3  NaN  4.0

In [118]:
ddd_df.reset_index(inplace=True)
ddd_df

   index    a    b
0      0  1.0  NaN
1      1  2.0  NaN
2      2  3.0  NaN
3      3  4.0  NaN
4      0  NaN  1.0
5      1  NaN  2.0
6      2  NaN  3.0
7      3  NaN  4.0

In [119]:
del ddd_df['index']
ddd_df

     a    b
0  1.0  NaN
1  2.0  NaN
2  3.0  NaN
3  4.0  NaN
4  NaN  1.0
5  NaN  2.0
6  NaN  3.0
7  NaN  4.0

In [120]:
# reset인덱스가 되어 연속번호 다시 생성
stations.reset_index(inplace=True)
del stations['index']

In [121]:
stations

                    상호                        주소      가격 셀프여부      상표    구
0               구천면주유소     서울 강동구 구천면로 357 (암사동)  1583.0    N  현대오일뱅크  강동구
1       지에스칼텍스㈜ 동서울주유소    서울 강동구 천호대로 1456 (상일동)  1595.0    Y   GS칼텍스  강동구
2        지에스칼텍스㈜ 신월주유소    서울 강동구 양재대로 1323 (성내동)  1609.0    N   GS칼텍스  강동구
3    현대오일뱅크㈜직영 명일셀프주유소      서울 강동구 고덕로 168 (명일동)  1615.0    Y  현대오일뱅크  강동구
4    현대오일뱅크㈜직영 암사셀프주유소     서울 강동구 올림픽로 749 (암사동)  1615.0    Y  현대오일뱅크  강동구
..                 ...                       ...     ...  ...     ...  ...
477            갤러리아주유소           서울 강남구 압구정로 426  2015.0    N   SK에너지  강남구
478              경원주유소     서울 강남구 도산대로 428 (청담동)  2016.0    N   S-OIL  강남구
479           (주)만정에너지     서울 강남구 봉은사로 433 (삼성동)  2023.0    N   GS칼텍스  강남구
480             학여울주유소  서울 강남구 남부순환로 3170 (일원2동)  2029.0    N   GS칼텍스  강남구
481            뉴서울(강남)            서울 강남구 언주로 716  2125.0    N   SK에너지  강남구

[482 rows x 6 columns]

In [123]:
import numpy as np
# 구별 평균 가격

gu_data = pd.pivot_table(
      stations
    , index=['구'] # ~별
    , values=['가격']
    , aggfunc= np.mean
)
gu_data.head()

              가격
구
강남구  1728.270270
강동구  1657.533333
강북구  1514.307692
강서구  1573.969697
관악구  1594.750000

In [124]:
gu_data.tail()

              가격
구
용산구  1977.428571
은평구  1535.187500
종로구  1856.333333
중구   2000.800000
중랑구  1538.687500

In [126]:
gu_data.sort_values(by='가격', ascending=False)[:5] # 내림차순

              가격
구
중구   2000.800000
용산구  1977.428571
종로구  1856.333333
강남구  1728.270270
강동구  1657.533333

In [127]:
gu_data.sort_values(by='가격', ascending=True)[:5] # 오름차순

               가격
구
강북구   1514.307692
성북구   1526.458333
서대문구  1535.000000
은평구   1535.187500
금천구   1537.000000